@import "~easymde_duolingo/dist/easymde.min.css";

$selection-background: #318efd;
$selection-color: #ffffff;
$selection-unfocus-background: #c5c5c5;
$selection-unfocus-color: #000000;
$preview-color: #4c4c4c;
$placeholder-color: #afafaf;

/* BASICS */

.CodeMirror {
  padding: 15px;
  font-size: 17px;
  line-height: 24px;
  font-family: din-round, sans-serif;
  background-color: #f7f7f7;
  margin-bottom: 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 1px solid #e5e5e5;
  border-left: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
}

/* PADDING */

.CodeMirror-lines {
  padding: 0;
  /* Vertical padding around content */
}

.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  padding: 0;
  /* Horizontal padding of content */
}

/* TOOLBAR */

.editor-toolbar {
  margin-top: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top: 2px solid #e5e5e5;
  border-left: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
}

i.fa,
i.fa::after,
i.fa::before {
  font-family: FontAwesome !important;
}

/* PREVIEW THEME */

.editor-preview {
  padding: 15px;
  background: white;
  color: $preview-color;
}

.editor-preview p {
  margin: 0 0 15px 0;
  font-size: 17px;
  line-height: 22px;
}

.editor-preview strong {
  font-weight: 700;
}

.editor-preview blockquote {
  border-left: 5px solid #f0f0f0;
  display: block;
  margin: 25px;
  padding-left: 15px;
}

.editor-preview code {
  background-color: #fff277;
  font-family: monospace, monospace;
  font-size: 1em;
}

.editor-preview h1 {
  font-size: 17px;
  font-weight: 400;
  font-family: din-round, sans-serif;
  line-height: 22px;
  margin: 0;
}

.editor-preview h1 {
  &::before {
    content: "<h1>";
  }
  &::after {
    content: "</h1>";
  }
}

.editor-preview h2 {
  color: $preview-color;
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  margin: 0 0 25px 0;
}

.editor-preview h3 {
  font-size: 15px;
  font-weight: 700;
  line-height: 22px;
  margin: 0 0 10px 0;
  text-transform: uppercase;
}

.editor-preview h4 {
  color: $preview-color;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin: 0 0 10px 0;
}

.editor-preview h5 {
  font-size: 15px;
  font-weight: 700;
  line-height: 22px;
  margin: 0 0 10px 0;
}

.editor-preview h6 {
  color: #999999;
  font-size: 13px;
  font-weight: 700;
  line-height: 22px;
  margin: 0;
  text-transform: uppercase;
}

.editor-preview ul {
  font-size: 17px;
  font-weight: 500;
  line-height: 22px;
  list-style-type: disc;
  margin: 0 0 20px 20px;
}

.editor-preview ol {
  font-size: 17px;
  font-weight: 500;
  line-height: 22px;
  list-style-type: decimal;
  margin: 0 0 0 20px;
}

.editor-preview pre {
  font-size: 17px;
  line-height: 22px;
  background: white;
  white-space: normal;
  margin: 0;
}

.editor-preview pre {
  &::before {
    content: "<pre>";
  }
  &::after {
    content: "</pre>";
  }
}

/* STOP */

.CodeMirror-selected {
  background: $selection-unfocus-background;
  color: $selection-unfocus-color;
}

.CodeMirror-focused .CodeMirror-selected,
span.CodeMirror-selectedtext,
.CodeMirror-line::selection,
.CodeMirror-line > span::selection,
.CodeMirror-line > span > span::selection {
  background: $selection-background;
  color: $selection-color;
}

.CodeMirror pre.CodeMirror-placeholder,
.CodeMirror pre.CodeMirror-line-like {
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  color: $placeholder-color;
  opacity: 1;
}

/* DUOLINGO EDITOR THEME */

.cm-s-duolingo .cm-header,
.cm-s-duolingo .cm-header-1,
.cm-s-duolingo .cm-header-2,
.cm-s-duolingo .cm-header-3,
.cm-s-duolingo .cm-header-4,
.cm-s-duolingo .cm-header-5,
.cm-s-duolingo .cm-header-6,
.cm-s-duolingo .cm-quote,
.cm-s-duolingo .cm-comment,
.cm-s-duolingo .cm-hr,
.cm-s-duolingo .cm-link {
  border: none;
  font-family: din-round, sans-serif;
  font-style: normal;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

.cm-s-duolingo .cm-header::selection,
.cm-s-duolingo .cm-header-1::selection,
.cm-s-duolingo .cm-header-2::selection,
.cm-s-duolingo .cm-header-3::selection,
.cm-s-duolingo .cm-header-4::selection,
.cm-s-duolingo .cm-header-5::selection,
.cm-s-duolingo .cm-header-6::selection,
.cm-s-duolingo .cm-quote::selection,
.cm-s-duolingo .cm-comment::selection,
.cm-s-duolingo .cm-hr::selection,
.cm-s-duolingo .cm-link::selection {
  background: $selection-background;
  color: $selection-color;
}

.cm-header,
.cm-strong {
  font-weight: 400;
}

.cm-em {
  font-style: normal;
}

.cm-link,
.cm-strikethrough {
  text-decoration: none;
}
